TARGET_GROUP_NAME=Lander Info Chat
BOT_ENABLED=true
CLAIMED_RESPONSE_TEXT=Claimed
STATE_FILE_PATH=./data/state.json
WHATSAPP_AUTH_PATH=./data/.wwebjs_auth
PUPPETEER_HEADLESS=true
PUPPETEER_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
DEBUG_LOGS=false
